<div class="container">   
<form> <div class="form-group">
    <h1 class="text-center text-primary">Hockey-Talk</h1>
    <div class="input-group-prepend">
        <div style="text-align: center">
    <input [(ngModel)]="n" type="text" name="n" placeholder="Your Name"><br><br>
    <textarea [(ngModel)]="m" name="m" placeholder="Your Message"></textarea><br><br>
    <input (click)="post()" type="button" value="Send"><br><br>
    <input (click)="delete()" type="button" value="Delete">
    </div>
</div>
</div>
</form>


</div>

    <h3>Messages</h3>
    <div *ngFor="let m of messages">{{m.name}} says: {{m.msg}}<br>
        <input (click)="delete()" type="button" value="Edit"><br><br>
        <input (click)="delete()" type="button" value="Delete">
        <hr>
       
    </div>