<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><strong>{{ contact.name }}</strong></h4>
      <a style="cursor: pointer;" [routerLink]="['edit']" type="button" class="btn btn-primary pull-right"
        style="margin: 2px">Edit</a>
      <a type="button" (click)="onDelete()" class="btn btn-danger pull-right" style="margin: 2px">Delete</a>
      <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive" style="max-height: 90px;">
    </div>
    <div class="panel-body">
      <p><strong>Email: </strong> {{ contact.email }}</p>
      <p><strong>Phone: </strong> {{ contact.phone }}</p>
    </div>
  </div>
</div>