<nav class="navbar navbar-default">
    <div class="containter-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">WeLearn CMS</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Documents</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">User <span class="caret"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>